{% extends "base.html" %}

{% block content %}

<html>
    <style>
    body{
    
    padding-left: 0px;
    }
    
    </style>
    <body>
        <h2>Introduction</h2> 
        This is Project Yeti, the joined efforts of Adrian Forde and Sean Harkin
        to create CCPB (CryptoCurrencyPredictiveBuying). 
        
        <h3>Overview</h3>
        With this project we will use coinGecko API to download real 
        historical cryptocurrency data and this, in conjuction with data from Reddit, 
        will be analyzed and 
        attempt to create a trading algorithm that will buy and sell crypto currencies at the correct time.
    
        <div>There are 3 parts to this project:</div>
        <ol>
            <li>Coin data service</li>
            <li>Reddit data service</li>
            <li>GTS/GTB</li>
        </ol>
            The coin data and reddit data parts are exposed to the third part 
            (GTS/BTG) as RESTful endpoints which can be queried at any time. 
            All three parts are decoupled.
        
        <h3>CoinGecko API</h3>
        This project uses the free coin gecko API to retreive information for the crypto currency
        
        <h3>PRAW - Python Reddit API Wrapper</h3>
        This project uses PRAW to scrape reddit and monitor some crypto subreddits
    </body>
</html>

{% endblock %}