{% extends "base.html" %}

{% block app_content %}

<html>
    <style>
    body{
    
    padding-left: 0px;
    
    }

    .infopad {
        padding-left: 3px;
    }
    
    
    </style>
    <body >
        <h2>Introduction</h2> 
        <div class="infopad">
            This is Project Yeti, the joined efforts of Adrian Forde and Sean Harkin
            to create CCPB (CryptoCurrencyPredictiveBuying). 
        </div>
        
        <h3>Overview</h3>

        <div class="infopad">
            With this project we will use coinGecko API to download real 
            historical cryptocurrency data and this, in conjuction with data from Reddit, 
            will be analyzed and 
            attempt to create a trading algorithm that will buy and sell crypto currencies at the correct time.
        </div>
        <div class="infopad" style="text-decoration-line: underline;">
            There are 3 parts to this project:
        </div>
        <ol>
            <li>Coin data service</li>
            <li>Reddit data service</li>
            <li>GTS/GTB</li>
        </ol>
            
        <div class="infopad">The coin data and reddit data parts are exposed to the third part 
            (GTS/BTG) as RESTful endpoints which can be queried at any time. 
            All three parts are decoupled.
        </div>

        <h3>CoinGecko API</h3>
        <div class="infopad">
            This project uses the free coin gecko API to retreive information for the crypto currency
        </div>
        
        <h3>PRAW - Python Reddit API Wrapper</h3>
        <div class="infopad">
            This project uses PRAW to scrape reddit and monitor some crypto subreddits
        </div>
        <h2>Creators</h2>
        
            
        <div class="infopad">
            <h3>Adrian Forde</h3>
            <p>
                <img src="{{ url_for('static', filename='images/adrian_new.jpg') }}"   alt="profile" width="180"
                height="190"/>
                
            </p>
            <p>
                I am 22 years old and I hail from Ennis, Co Clare. I have just completed my Bachelors degree in Electronic and Computer Engineering at National University of Ireland, Galway, 
                where I achieved a First Class Honours. I am hugely interesed in software development, and my Github can be found <a href="https://github.com/adrianf413/">here</a>. 
                As well as software, I am also interested in music, guitar and basketball. Contact information and more can be found at my <a href="https://www.linkedin.com/in/adrian-forde-662a45141/">Linkedin</a>.
            </p>
        </div>
        
            
        <div class="infopad">
            <h2>Sean Harkin</h2>
            <p>
                <img src="{{ url_for('static', filename='images/sean.jpg') }}" alt="profile" width="180"
                height="190"/>
            </p>
            <p>
                Man of few words from Beart, Co Donegal.
            </p>
        </div>
    </body>
</html>

{% endblock %}

